<ng-container *ngIf="team">
    <div class="team-card flex flex-col gap-2 items-center p-2">
        <div class="flex flex-row gap-2">
            <h2>{{team.full_name}} [{{team.abbreviation}}]</h2>
            <button class="p-0.5 rounded hover:bg-slate-200 focus:bg-slate-400 shadow text-sm" id="remove{{team.abbreviation}}" (click)="handleCloseButtonClick(team)">X</button>
        </div>

        <h3>{{team.conference}}</h3>
        <img src="https://interstate21.com/nba-logos/{{team.abbreviation}}.png" alt="{{team.abbreviation}} Logo"
            class="team-logo">



        <div class="shadow-inner p-1">
            <p class="font-semibold">Results of past 12 days</p>
            <ng-container *ngIf="games$ | async as games">
                <div class="flex flex-row flex-wrap gap-0.5 w-max">
                    <ng-container *ngFor="let game of games">
                      
                            <ng-container *ngIf="hasWonGame(game) then wonGame else lostGame"></ng-container>
                        
                        
                    </ng-container>
                </div>
                
                
                <div>Avg pts scored: <span class="font-semibold">{{games | averageScore:team.id | number: '1.0-0'}}</span></div>
                <div>Avg pts conceded: <span class="font-semibold">{{games | averageScore:team.id:true | number: '1.0-0'}}</span></div>
            </ng-container>
    
            
        </div>
        <button class="p-1 rounded hover:bg-slate-200 focus:bg-slate-400 shadow" id="results{{team.abbreviation}}" [routerLink]="['/results', team.abbreviation]">See Game Results > ></button>

    </div>
</ng-container>

<ng-template #wonGame><div class="shrink-0 leading-3 p-1.5 rounded-full bg-green-600 text-white">W</div></ng-template>
<ng-template #lostGame><div class="shrink-0 leading-3 p-1.5 rounded-full bg-red-600 text-white">L</div></ng-template>